SASS_BINARY_SITE=http://npm.taobao.org/mirrors/node-sass

# windows 用户可以使用下面的设置支持在 cross-env 设置环境变量时使用命令
# script-shell = "C:\\windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe"
# 例如：cross-env HASH=$(git show --no-patch --format=%h) node echo.js
